body {
  background-color: black;
  color: white;
  text-shadow: gray -1px -1px 1px;
  font-family: Helvetica, sans-serif;
}

.content {
  background-color: gray;
  width: 640px;
  margin: auto;
  -webkit-perspective: 1000;
}

section {
  position: relative;
  width: 640px;
  height: 824px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
}

.rotate {
  -webkit-transform: rotateY(180deg);
}

.face.back {
  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  width: 640px;
  height: 824px;
  background-color: red;
}

.face {
  position: absolute;
  width: 640px;
  height: 824px;
  -webkit-backface-visibility: hidden
}

.topbar {
  width: 640px;
  height: 96px;
  background: gray url('img/topbar.png') no-repeat top left;
  position: relative;
}

.topbar .title {
  text-align: center;
  font-size: 2em;
  line-height: 96px;
}

.topbar a {
  position: absolute;
  right: 24px;
  top: 24px;
  font-size: 1.2em;
  color: white;
  text-shadow: black 0px 1px 0px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(135, 148, 203, 0.847656)), color-stop(0.5, rgba(34, 56, 159, 0.746094)), color-stop(0.5, rgba(0, 27, 145, 0.746094)), to(rgba(2, 59, 152, 0.648438)));
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}

.note {
  width: 640px;
  height: 392px;
  background: gray url('img/notepaper.png') no-repeat top left;
}

.note>div {
  padding: 10px;
  height: 110px;
  line-height: 110px;
}

.number {
  color: black;
  font-size: 5em;
  display: inline-block;
  width: 440px;
  overflow: hidden;
}

.number:before { content: "$"; }

.note .input .desc, .charge a {
  float: right;
  font-size: 3.75em;
  color: rgba(150,150,150,0.25);
  width: 160px;
  text-align: center;
}

.charge a {
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid black;
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(238, 238, 238)), to(rgb(204, 204, 204)));
}

.charge {
  border-top: 1px solid black;
}

.keys {
  width: 640px;
  height: 432px;
  background: gray url('img/keys.png') no-repeat top left;
}

.keys .keyrow { display: table-row; }

.keys a {
  color: white;
  display: table-cell;
  font-size: 2.5em;
  text-decoration: none;
  width: 213px;
  height: 108px;
  line-height: 108px;
  text-align: center;

  border: 1px solid rgba(0,0,0,0.5);

}
